Repository simonsobs/SOLikeT, pull requests merged in 2023-05, with the labels that each got.

#104 fixing mflike test and fixing np.float error
  requirements.txt
  setup.cfg
  soliket/bandpass.py
  soliket/mflike/__init__.py
  soliket/mflike/mflike.py
  soliket/tests/test_mflike.py
  soliket/tests/test_mflike.yaml
  tox.ini
Labels: mflike, tests

#119 Add tests for theory components Bandpass and Foreground
  soliket/Foreground.yaml
  soliket/tests/test_bandpass.py
  soliket/tests/test_bandpass.yaml
  soliket/tests/test_foreground.py
  soliket/tests/test_foreground.yaml
Labels: tests, theory

#129 Update INSTALL.rst
  INSTALL.rst
Labels: documentation, repo

#127 Dev update install instructions
  INSTALL.rst
  README.rst
  docs/ccl.rst
  docs/developers.rst
  docs/documentation.rst
  docs/images/Sky_UCSD2b.jpg
  docs/index.rst
  docs/workflow.rst
  guidelines.md
  soliket/ccl.py
  theory-component-guidelines.rst
Labels: documentation
